
*.pdb
*.exe
*.idb
*.log
*.tlog
*.ilk
*.recipe
*.obj
*.db
.vs/Philo_Snake/v16/.suo
*.res
*.ipch
*.db-wal
*.db-shm
*.opendb
*.filters
*.filters
*.vsidx
.vs/*
release/*
debug/qmake/temp/qtvars_Win32_Debug.props
debug/qmake/temp/qtvars.vcxproj
debug/qmake/temp/qtvars.pro
debug/qmake/temp/props.txt
debug/qmake/temp/moc_predefs.h.cbt
debug/qmake/temp/.qmake.stash
debug/qmake/qtvars_Win32_Debug.props
debug/moc_predefs.h
debug/moc_mainwindow.cpp
debug/qt.natvis
debug/Philo.vcxproj.FileListAbsolute.txt
