
*.pdb
*.exe
*.idb
*.log
*.tlog
*.ilk
*.recipe
*.obj
*.db
*.res
*.ipch
*.db-wal
*.db-shm
*.opendb
*.vsidx
.vs/*
release/*
debug/*
TCP_Server/Debug
TCP_Client/Debug
Common/x64
Common/Release
Common/Debug
*.autosave
